{erl_opts, [debug_info]}.
{deps, [
       {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
       {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.
{dialyzer_plt_apps, [eunit, meck]}.
{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.
